/* global values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* start components */
    .heading {
        text-align: center;
    }

    .heading h3 {
        font-size: 50px;
        font-weight: normal;
        text-transform: uppercase;
        padding: 100px 0px;
        position: relative;
    }

    .heading h3::before {
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
        background-color: black;
    }

    .heading h3::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: 50%;
        top: 75%;
        border-radius: 50%;
        transform: translate(-50% , -50%);
        background-color: white;
        border: 1px black solid;
    }

    .heading p {
        text-align: center;
        width: 70%;
        margin: 0px auto 150px;
        line-height: 2;
        color: #777;
    }
/* end components */

body {
    font-family: "Open Sans", sans-serif;
    --main-blue-color :rgb(0, 199, 252);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    min-height: 109px;
}

/* end global values */
/* header */
header{
    color: white;
    width: 100%;
    position: absolute;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::before {
    content: '';
    width: calc(100% - 20px);
    height: 100%;
    position: absolute;
    bottom: -1;
    left: 10px;
    border-bottom: 1px solid white;
    pointer-events: none;
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

@media (max-width: 992px) {
    header .nav { 
        justify-content: flex-end;
        flex-grow: 0;
        gap: 25px;
    }
}

header .logo {
    flex-grow: 1;
}

header .list {
    flex-grow: 3;
}



@media (max-width: 992px){
    header .list:hover {
        --ul-display:block;
        --hover-area:block;
    }

    header .list::before{
       content: "";
       position: absolute;
       display: var(--hover-area,none);
       width: 29%;
       height: 112%;
       bottom: -51%;
       left: 62%;
    }
}

header ul {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    header ul {
        display: var(--ul-display,none);
        position: absolute;
        color: black;
        top: 110%;
        left: 0px;
        /* full block width */
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10;
    }   
}


@media (min-width: 993px) {
    header .nav .bars-icon {
        display: none;
    }
}

header ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 35px 0px;
    position: relative;
}

header ul a::before {
    content: "";
    position: absolute;
    visibility: var(--link-visiblity,hidden);
    width: 120%;
    height: 110%;
    top: 0px;
    left: -10%;
    border-bottom: 2px var(--main-blue-color,blue) solid;
}

header ul a:hover{
    color: var(--main-blue-color,blue);
    --link-visiblity: visible ;
}

header ul a:focus {
  color: var(--main-blue-color, blue);
}



@media (max-width: 992px) {
    header ul a{
        padding: 15px 10px;       
    }

    header ul a::before{
        /* follow up container width */
        width: 100%;
        left: 0%;
    }
}

header .nav .search-logo{
    padding: 5px 0px 5px 15px;
    flex-grow: 1;
    text-align: end;
    position: relative;
}

header .nav .search-logo::after{
    content: "";
    position: absolute;
    height: 70%;
    transform: translateY(-25%);
    right: 25px;
    padding: 5px 0px 5px 15px;
    border-left: 1px solid white;
}

/* End header */

/* start landing */
.landing{
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/owl.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -3;
}

.landing .relay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} 

.landing .container {
    position: relative;
    height: 100%;
}

.landing .background-text {
    color: white;
    line-height: 1.5;
    width: 500px;
}

.landing .blue-background {
    position: absolute;
    background-color: rgba(0, 199, 252,0.6);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .landing .blue-background {
        width: 100%;
    }
  }

.landing .background-text h3 {
    line-height: 1.5;
    text-transform: capitalize;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* start arrows */
.landing .arrows .right ,
.landing .arrows .left  
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.landing .arrows .right {
    right: 0;
    margin-right: 15px;
}

.landing .arrows .left {
    left: 0;
    margin-left: 15px;
    transform: translateY(-50%) scaleX(-1);
}

@media (max-width: 768px) {
    .landing .arrows {
        display: none;
    }
  }
/* end arrows */

.circles {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.circles span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    margin: 0px 3px;
    border: 1px white solid;
}

.circles span:nth-child(2){
    background-color: var(--main-blue-color);
}
/* end landing */
/* start services */ 
.services{
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    .content-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(500px , 1fr));
        column-gap: 75px;
        row-gap: 65px;
    }
  }

  
.services .content-container .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* distance betweem the icon and the text inside the div */
    gap: 15px;
    /* distance betweem the icon and the text (outside) the div */
    padding: 15px 0px;
}

@media (min-width: 768px) {
    .services .content-container .srv-box {
            flex-direction: row;
            text-align: start;
            gap: 65px;
    }
  }

.services .srv-box .icon {
    font-size: 45px;
    font-weight: normal;
}

.services .srv-box h3 {
    font-size: 25px;
    color: var(--main-blue-color);
    padding-bottom: 20px;
}

/* end services */ 

/* start design */
.design{
    background-image: url(../imgs/design-features.jpg);
    position: relative;
    height: 720px;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 768px) {
    .design {
        height: 1100px;
    }
}

.design .image {
    position: absolute;
    left: 20%;
    bottom: -60px;
}

@media (max-width: 991px) {
    .design .image {
        left: 5%;
    }
}

.design .blue-background {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    background-color: rgba(0, 199, 252,0.6);
    padding: 50px;
}

@media (max-width: 991px) {
    .design .blue-background {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .design .blue-background {
        top: 30%;
        width: 100%;
    }
}

.design .text-container{
    color: white;
}

.design .text-container .text-box{
    display: flex;
    gap: 20px;
    margin: 25px 0px;
}

.design .text-container h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 60px;
    font-size: 22px;
}

.design .text-container p{
    text-transform: capitalize;
    font-size: 18px;
}
/* end design */
/* Media Qeuries */
/* small Devices (small Phones) */
@media (max-width: 576px) {
    
}

/* small Devices (Large Phones) */
@media (min-width: 576px) {

}

/* Tablets */

@media (min-width: 768px) {
    .container {
        width: 720px; 
    }
  }

/* Laptops */
@media (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  /* Desktops */
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }
  
  /* Large Screens / 4K */
  @media (min-width: 1400px) {
    .container {
      width: 1320px;
    }
  }